<div class="row">
  <div class="col-12">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="请输入商品名称"
      [formControl]='titleFilter'>
    </div>
  </div>
  <div class="col-4" *ngFor="let product of products | filter:'title':keyword">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/320x150" alt="">
      <div class="card-body">
        <h5 class="float-right text-dark">{{product.price}}元</h5>
        <h5 class="card-title text-primary"><a routerLink="/product/{{product.id}}">{{product.title}}</a></h5>
        <p class="card-text text-muted">{{product.desc}}</p>
      </div>
      <div>
        <app-stars [rating]="product.rating"></app-stars>
      </div>
    </div>
  </div>
</div>